page-login {
	.errors
	 {
	    text-align:center;
	    width:100%;
	    margin-top: 1rem;
	    color: red;
	  }
	  p.error{
        color: #ea6153;
        border: 0;
        margin-bottom: 0;
			}
			.logo{
        max-width: 150px;
        margin: 0 auto;
    }
}
