modal-patient {
    .buttons{
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
    }
    .loading{
        /*margin-top: 10px;
        margin-left: 1rem;*/
        text-align: center
    }
    
    p.error{
        color: #ea6153;
        border: 0;
        margin-bottom: 0;
      }
    
}
