page-agenda {
    .header-title{
        text-align: center;
    }
    ion-card-header{
        text-align: center;
        background: map-get($colors, celeste);
        color: white !important;
    }
    h4, h6{
        text-align: center;
    }
     .monthview-primary-with-event[_ngcontent-c1]{
        position: relative;
        padding: 0px !important;
    }
    .monthview-selected[_ngcontent-c1]{ background-color: map-get($colors, primary);}
    
     .multiple-events{
        background-color: red;
    }
    .monthview-selected{

        .multiple-events, .one-event{
            background-color: transparent !important;
        }
    }
   
    
}
