
<ion-header>
    <ion-navbar>
        
        <ion-title>Agenda</ion-title>
        <ion-buttons end>
            <button ion-button (click)="goHome()" color="primary">
                
                    Ir a Inicio
                </button>
        </ion-buttons>
    </ion-navbar>
 
 

</ion-header>


<ion-content >
    <ion-card>
        
        <ion-card-header>
            Agenda
        </ion-card-header>
        <ion-card-content>
            
            <div class="header-title">
               
            
            <button ion-button (click)="openSchedule()">
                Programar
            </button>
            <h3><b>{{ currentDate }}</b></h3>
                
                
              </div>


        </ion-card-content>



    </ion-card>
   
    

<ng-template #template2 let-view="view" let-row="row" let-col="col">
    <div *ngIf="view.dates[row*7+col].events.length; else elseBlock" >
        <div *ngIf="view.dates[row*7+col].events.length > 1; else elseBlock">
            <div  [ngClass]="'multiple-events'" [ngStyle]="{'padding':'8px'}">{{view.dates[row*7+col].label}}</div>
        </div>
        <ng-template #elseBlock>
            <div *ngFor="let obj of view.dates[row*7+col].events">
                <div [ngClass]="'one-event'" [ngStyle]="{'background-color': obj.background_color,'padding':'8px'}">{{view.dates[row*7+col].label}}</div>
            </div>
        </ng-template>
    </div>
    <ng-template #elseBlock>{{view.dates[row*7+col].label}}</ng-template>
     
</ng-template>
  <calendar [eventSource]="eventSource" [calendarMode]="calendar.mode" [currentDate]="calendar.currentDate" (onCurrentDateChanged)="onCurrentDateChanged($event)"
    (onEventSelected)="onEventSelected($event)" step="30" [markDisabled]="markDisabled" noEventsLabel="No hay horario programado" [monthviewDisplayEventTemplate]="template2" [autoSelect]="false">
  </calendar>
</ion-content>