page-agenda {
    .header-title{
        text-align: center;
    }
    ion-card-header{
        text-align: center;
        background: map-get($colors, turquesa);
        color: white !important;
    }
    h4, h6{
        text-align: center;
    }
     .monthview-primary-with-event[_ngcontent-c1]{
        position: relative;
        padding: 0px !important;
    }
    .monthview-selected[_ngcontent-c1]{ background-color: map-get($colors, gris);}
    
     .multiple-events{
        //background-color: red;
        background: -webkit-gradient(linear, left top, right bottom, color-stop(1%, #6e6e6e), color-stop(52%, #6e6e6e), color-stop(52%, red), color-stop(52%, red), color-stop(100%, red));
            background: -moz-gradient(linear, left top, right bottom, color-stop(1%, #6e6e6e), color-stop(52%, #6e6e6e), color-stop(52%, red), color-stop(52%, red), color-stop(100%, red));
            background: -o-gradient(linear, left top, right bottom, color-stop(1%, #6e6e6e), color-stop(52%, #6e6e6e), color-stop(52%, red), color-stop(52%, red), color-stop(100%, red));
            background: gradient(linear, left top, right bottom, color-stop(1%, #6e6e6e), color-stop(52%, #6e6e6e), color-stop(52%, red), color-stop(52%, red), color-stop(100%, red));
    }
    .monthview-selected{

        .multiple-events, .one-event{
            background-color: transparent !important;
        }
    }
   
    
}
