modal-schedule {
    .buttons{
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
    }
    .loading{
        /*margin-top: 10px;
        margin-left: 1rem;*/
        text-align: center
    }
    ion-card-header{
        background: map-get($colors, secondary);
        color: white !important;
    }
    p.error{
        color: #ea6153;
        border: 0;
        margin-bottom: 0;
      }
    .card-md .item-md.item-block .item-inner {
        border-bottom: 1px solid #dedede;
    }
}
