tab-jornada {
    .content-md, .content-ios{
        
    }
    .card-md, .card-ios{
        background: #eee;
        .item-md, .item-ios{
            background: transparent;
        }
    }
    .errors{
        text-align: center;
    }
    p.error{
        color: #ea6153;
        border: 0;
        margin-bottom: 0;
      }
    .loading{
        /*margin-top: 10px;
        margin-left: 1rem;*/
        text-align: center
    }
    .monthview-selected[_ngcontent-c1]{
        background-color:transparent;
        color:#000;
    }
    .monthview-primary-with-event[_ngcontent-c1]{
       background-color: #3a87ad !important
    }

}
