<ion-header>
    <ion-navbar no-border-bottom>
        <ion-title>
            Programacion Jornada
        </ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <div padding>
        <p>Selecciona los días y la clinica en donde para recibir consulta</p>
    </div>
    <template #template let-showEventDetail="showEventDetail" let-selectedDate="selectedDate" let-noEventsLabel="noEventsLabel">
        
        <form [formGroup]="scheduleForm">
            <ion-row>
                <ion-col>
                    <ion-list inset>
                        <ion-item>
                            <ion-label floating>Clínica</ion-label>
                            <ion-select formControlName="office_id" #C (ionChange)="onChange(C.value)">
                                <ion-option value=""></ion-option>
                                <ion-option *ngFor="let clinic of clinics" value="{{clinic.id}}">{{clinic.name}}</ion-option>
                            </ion-select>
                        </ion-item>
                        <p *ngIf="!scheduleForm.controls.office_id.valid && (scheduleForm.controls.office_id.dirty || submitAttempt)" class="error">Por favor ingrese una clínica o consultorio.</p>
                        <!-- <ion-grid>
                        
                            <ion-row>
                                <ion-col col-6>
                                    <ion-item>
                                        De: {{ authUser.settings.minTime }}
                                       
                                    </ion-item>
                                    
                                </ion-col>
                                <ion-col col-6>
                                    <ion-item>
                                       A: {{ authUser.settings.maxTime }}
                                     
                                    </ion-item>
                                    
                                </ion-col>
                            </ion-row>
                        
                        </ion-grid> -->
        
        
                    </ion-list>
                </ion-col>
            </ion-row>
        
            <ion-row>
                <ion-col class="signup-col">
                    <button ion-button class="submit-btn" full (click)="saveSchedules()">Agregar</button>
        
                </ion-col>
            </ion-row>
        
        </form>
    </template>
    <calendar [eventSource]="eventSource" [calendarMode]="'month'" [currentDate]="currentDate" (onCurrentDateChanged)="onCurrentDateChanged($event)"
        (onEventSelected)="onEventSelected($event)" step="30" [markDisabled]="markDisabled" noEventsLabel="No hay horario programado"
         [monthviewEventDetailTemplate]="template">
    </calendar>
   
</ion-content>