page-appointments {
    .errors{
        text-align: center;
    }
    ion-card-header{
        background: map-get($colors, secondary);
        color: white !important;
    }
    ion-card{
        ion-list{
             button{
                 ion-label{
                 color: map-get($colors, primary);
                 }
             }
        }
    }
    .scroll-content{
        padding-top: 40px !important;
    }
    .date-bar{
        background:  map-get($colors, light);
        //color:#000;
        padding: 1rem .5rem;
        text-align: center;
        a {
            color:map-get($colors, celeste);
        }
    }
   
    
}
