<ion-header>
  <ion-navbar>
      
      <ion-title>Tus citas programadas</ion-title>
      <ion-buttons end>
        
          <button ion-button (click)="showCalendarPage()" icon-left>
              <ion-icon name="calendar" item-start></ion-icon>
                  
          </button>
      
        <!-- <button ion-button (click)="goHome()" color="primary">
            
                Ir a Inicio
            </button> -->
      </ion-buttons>
  </ion-navbar>
   <div class="date-bar" *ngIf='currentDate'>
                Fecha seleccionada: {{ currentDate }}.  <a item-right clear (click)="clearDate()" color="light">quitar?</a>
    </div>
</ion-header>




<ion-content padding>
  <ion-item *ngIf="!appointments.length > 0" class="errors">
    <span>No se encontraron citas programadas del dia</span>
  </ion-item>
  <ion-item-group *ngFor="let groupDate of appointments">
    <ion-item-divider color="turquesa">{{dateFormat(groupDate.date)}}</ion-item-divider>
    <ion-item *ngFor="let item of groupDate.appointments">
      <h2>{{timeFormat(item.start)}} - {{item.patient.first_name}}</h2>
      <!-- <small>{{timeFormat(item.start)}} - {{timeFormat(item.end)}}</small> -->
      <ion-note item-end></ion-note>
      <button ion-button clear item-end (click)="openAppointmentDetail(item)">Ver</button>
    </ion-item>
    
  </ion-item-group>
  
  <!-- <ion-list>
      <ion-item *ngIf="!appointments.length > 0" class="errors">
          <span>No se encontraron citas programadas</span>
      </ion-item>
      
      <ion-item *ngFor="let item of appointments">
        <h2>{{item.title}}</h2>
        <p>{{timeFormat(item.start)}} - {{timeFormat(item.end)}}</p>
        <ion-note item-end>{{dateFormat(item.date)}} </ion-note>
        <button ion-button clear item-end (click)="openAppointmentDetail(item)">Ver</button>
      </ion-item>

      

  </ion-list> -->
  <!-- <ion-item *ngIf="!appointments.length > 0" class="errors">
    <span>No se encontraron citas programadas</span>
  </ion-item>
  <ion-card *ngFor="let item of appointments">
    <ion-card-header class="diagnostics">
       {{item.title}}
  
    </ion-card-header>
 
      
    <ion-list>
      <ion-item ion-item>
        <p>{{dateFormat(item.date)}} {{timeFormat(item.start)}} - {{timeFormat(item.end)}}</p> 
        <p>{{item.patient.first_name }}</p>
      </ion-item>
      <button ion-item  (click)="openAppointmentDetail(item)">
        <ion-icon color="primary" name="eye" ></ion-icon>
        Ver
      </button>
    </ion-list>


     
  
  </ion-card> -->
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
