<ion-header>
    <ion-toolbar>
        <ion-title>
            Detalle de la cita
        </ion-title>
        <ion-buttons start>
            <button ion-button (click)="dismiss()">
          <span ion-text color="primary" showWhen="ios">Cancel</span>
          <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
        </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
       
            <ion-item >
                <h2>Paciente: {{patient.fullname}}</h2>
                <p>{{patient.birth_date}} - {{genderFormat(patient.gender)}}</p>
               
             
            </ion-item>
            <ion-card>
                <ion-card-header class="diagnostics">
                    Resumen cita {{ appointment.id }} - {{dateFormat(appointment.start)}} {{ timeFormat(appointment.start) }}
            
                </ion-card-header>
                <ion-card-content>
            
                    <ion-item text-wrap>
            
                        <h2>Notas de padecimiento </h2>
            
                        <ul *ngIf="appointment.disease_notes">
                            <!-- <li>
                                                    <span><b>Razón de la visita:</b> {{ appointment.disease_notes.reason }}</span>
                                                </li> -->
                            <li>
                                <span>
                                    <b>Síntomas subjetivos:</b> {{ appointment.disease_notes.symptoms }}</span>
                            </li>
                            <li>
                                <span>
                                    <b>Exploración Física:</b> {{ appointment.disease_notes.phisical_review }}</span>
                            </li>
                        </ul>
            
            
                    </ion-item>
                    <ion-item text-wrap>
            
                        <h2>Examen Físico </h2>
                        <ul *ngIf="appointment.physical_exams">
            
            
                            <li *ngIf="appointment.physical_exams.cardio">
                                <strong>Cardiaco y Vascular: </strong>{{ appointment.physical_exams.cardio }} </li>
                            <li *ngIf="appointment.physical_exams.linfatico">
                                <strong>Sistema Linfático: </strong>{{ appointment.physical_exams.linfatico }} </li>
                            <li *ngIf="appointment.physical_exams.osteoarticular">
                                <strong>Osteoarticular: </strong>{{ appointment.physical_exams.osteoarticular }}</li>
                            <li *ngIf="appointment.physical_exams.psiquiatrico">
                                <strong>Psiquiátrico y Psicológico: </strong>{{ appointment.physical_exams.psiquiatrico }} </li>
                            <li *ngIf="appointment.physical_exams.digestivo">
                                <strong>Aparato Digestivo: </strong>{{ appointment.physical_exams.digestivo }} </li>
                            <li *ngIf="appointment.physical_exams.dermatologico">
                                <strong>Dermatológico: </strong>{{ appointment.physical_exams.dermatologico }} </li>
                            <li *ngIf="appointment.physical_exams.otorrinolaringologico">
                                <strong>Otorrinolaringológico: </strong>{{ appointment.physical_exams.otorrinolaringologico }} </li>
                            <li *ngIf="appointment.physical_exams.reproductor">
                                <strong>Aparato Reproductor: </strong>{{ appointment.physical_exams.reproductor }} </li>
                            <li *ngIf="appointment.physical_exams.urinario">
                                <strong>Aparato Urinario: </strong>{{ appointment.physical_exams.urinario }} </li>
                            <li *ngIf="appointment.physical_exams.neurologico">
                                <strong>Neurológico: </strong>{{ appointment.physical_exams.neurologico }}</li>
                            <li *ngIf="appointment.physical_exams.pulmonar">
                                <strong>Pulmonar o Respiratorio: </strong>{{ appointment.physical_exams.pulmonar }}</li>
                        </ul>
            
            
                    </ion-item>
                    <ion-item text-wrap>
            
                        <h2>Pruebas Diagnósticas</h2>
                        <ion-item *ngFor="let item of labexams">
                            <h2>{{ dateFormat(item.date) }}</h2>
                            <ul>
                                <li *ngFor="let exam of item.exams">
                                    <b>{{ exam.name }}</b>
                        
                        
                                </li>
                            </ul>
                        
                        
                        
                        </ion-item>
                        <h2>Resultados</h2>
                        <ul>
                            <li *ngFor="let result of labresults">
                                <a href="#" (click)="showResult(result)">
                                    <b>{{ dateFormat(result.date) }} - {{ result.name }}</b>
                                </a>
                            </li>
                        </ul>
            
            
                    </ion-item>
                    <ion-item text-wrap>
            
                        <h2>Diagnóstico</h2>
                        <ul *ngIf="appointment.diagnostics">
                            <li *ngFor="let diagnostic of appointment.diagnostics">
                                <span>
                                    <span class="text"> {{ diagnostic.name }}</span>
                                </span>
                            </li>
                        </ul>
            
            
                    </ion-item>
                    <ion-item text-wrap>
            
                        <h2>Tratamiento</h2>
                        <ul *ngIf="appointment.treatments">
                            <li *ngFor="let treatment of appointment.treatments">
                                <span>
                                    <b> {{ treatment.name }}: </b> {{ treatment.comments }}</span>
                            </li>
                            <li>
                                <span>
                                    <b>Recomendaciones Médicas: </b>{{ appointment.medical_instructions }}</span>
                            </li>
                        </ul>
            
            
                    </ion-item>
            
            
                </ion-card-content>
            </ion-card>
            
    


</ion-content>