page-history-patient {
    .errors{
        text-align: center;
    }
    ion-card-header.diagnostics{
        background: map-get($colors, secondary);
        //color: white !important;
    }
    ion-card-header.allergies{
        background: map-get($colors, secondary);
        //color: white !important;
    }
    ion-card-header.pathologicals{
        background: map-get($colors, secondary);
        //color: white !important;
    }
    ion-card-header.nopathologicals{
        background: map-get($colors, secondary);
        //color: white !important;
    }
    ion-card-header.heredo{
        background: map-get($colors, secondary);
       // color: white !important;
    }
    ion-card-header.gineco{
        background: map-get($colors, secondary);
        //color: white !important;
    }
    ion-card-header.labresults{
        background: map-get($colors, secondary);
        //color: white !important;
    }
    .icon-md-light{
        color: map-get($colors, primary);
    }
}
