<ion-header>
    <ion-navbar no-border-bottom>
        <ion-title>
            Historial Paciente
        </ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
        <!-- <ion-refresher (ionRefresh)="doRefresh($event)">
                <ion-refresher-content></ion-refresher-content>
            </ion-refresher> -->
    <div padding class="margin-patient-bar">
            
        <ion-segment [(ngModel)]="medical_control">
            <ion-segment-button value="history">
                Expediente
            </ion-segment-button>
            <ion-segment-button value="appointments">
                Consultas
            </ion-segment-button>
            
        </ion-segment>
    </div>
    <div [ngSwitch]="medical_control">
        <div *ngSwitchCase="'history'">
                <ion-card>
                    <ion-card-header (click)="toggleGroup(1)" [ngClass]="{active: isGroupShown(1)}" class="diagnostics">
                        Diagnosticos
                        <ion-icon color="light" item-right [name]="isGroupShown(1) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
                    </ion-card-header>
                    <ion-card-content *ngIf="isGroupShown(1)">
                        
                                    <ion-item *ngFor="let appointment of appointments"  >
                                        
                                            <h2>{{ appointment.created_at }} - Dr. {{ appointment.user.name }} </h2> 
                                            <ul *ngIf="appointment.diagnostics.length">
                                                <li *ngFor="let diagnostic of appointment.diagnostics">
                                                    <span><span class="text"> {{ diagnostic.name }}</span></span>
                                                </li>
                                            </ul>
                                        
                                        
                                    </ion-item>
                               
                        
                    </ion-card-content>
                </ion-card>
                <ion-card>
                    <ion-card-header (click)="toggleGroup(2)" [ngClass]="{active: isGroupShown(2)}" class="allergies">
                        Alergias
                        <ion-icon color="light" item-right [name]="isGroupShown(2) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
                    </ion-card-header>
                    <ion-card-content *ngIf="isGroupShown(2)">
                        
                                    <ion-item *ngFor="let item of allergies" >
                                            <h2>{{ item.name }}</h2>
                                            <p>Agregado por: {{ item.user.name }} - {{ item.created_at }}</p>
                                               
                                              
                                    
                                    </ion-item>
                                
                        
                    </ion-card-content>
                </ion-card>
                <ion-card>
                    <ion-card-header (click)="toggleGroup(3)" [ngClass]="{active: isGroupShown(3)}" class="pathologicals">
                        Antecedentes Patológicos
                        <ion-icon color="light" item-right [name]="isGroupShown(3) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
                    </ion-card-header>
                    <ion-card-content *ngIf="isGroupShown(3)">
                        
                                    <ion-item *ngFor="let item of pathologicals" >
                                            <h2>{{ item.name }}</h2>
                                            <p>Dr. {{ item.user.name }} - {{ item.created_at }}</p>
                                                
                                                
                                    
                                    </ion-item>
                                
                        
                    </ion-card-content>
                </ion-card>
                <ion-card>
                    <ion-card-header (click)="toggleGroup(4)" [ngClass]="{active: isGroupShown(4)}" class="nopathologicals">
                        Antecedentes No Patológicos
                        <ion-icon color="light" item-right [name]="isGroupShown(4) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
                    </ion-card-header>
                    <ion-card-content *ngIf="isGroupShown(4)">
                        
                                    <ion-item *ngFor="let item of no_pathologicals" >
                                            <h2>{{ item.name }}</h2>
                                            <p>Dr. {{ item.user.name }} - {{ item.created_at }}</p>
                                                
                                                
                                    
                                    </ion-item>
                                
                        
                    </ion-card-content>
                </ion-card>
                <ion-card>
                    <ion-card-header (click)="toggleGroup(5)" [ngClass]="{active: isGroupShown(5)}" class="heredo">
                        Antecedentes Heredofamiliares
                        <ion-icon color="light" item-right [name]="isGroupShown(5) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
                    </ion-card-header>
                    <ion-card-content *ngIf="isGroupShown(5)">
                        
                                    <ion-item *ngFor="let item of heredos" >
                                            <h2>{{ item.name }}</h2>
                                            <p>Dr. {{ item.user.name }} - {{ item.created_at }}</p>
                                                
                                                
                                    
                                    </ion-item>
                                
                        
                    </ion-card-content>
                </ion-card>
                <ion-card>
                    <ion-card-header (click)="toggleGroup(6)" [ngClass]="{active: isGroupShown(6)}" class="gineco">
                        Antecedentes Gineco-obstetricios
                        <ion-icon color="light" item-right [name]="isGroupShown(6) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
                    </ion-card-header>
                    <ion-card-content *ngIf="isGroupShown(6)">
                        
                                    <ion-item *ngFor="let item of ginecos" >
                                            <h2>{{ item.name }}</h2>
                                            <p>Dr. {{ item.user.name }} - {{ item.created_at }}</p>
                                                
                                                
                                    
                                    </ion-item>
                                
                        
                    </ion-card-content>
                </ion-card>
               
                
        </div>
        <div *ngSwitchCase="'appointments'">
                <ion-list>
                    <ion-item *ngIf="!appointments.length > 0" class="errors">
                            <span>No tiene un historial de citas</span>
                        </ion-item>
                    <ion-item *ngFor="let item of appointments">
                        <h2>{{item.title}}</h2>
                        <p>{{timeFormat(item.start)}} - {{timeFormat(item.end)}}</p>
                        <ion-note item-end>{{dateFormat(item.date)}} </ion-note>
                        <button ion-button clear item-end (click)="openAppointmentDetail(item)">Ver</button>
                    </ion-item>
                </ion-list>
        </div>
       
    </div>
   
</ion-content>