<ion-header>
  <ion-toolbar>
    <ion-title>
      Nuevo Paciente
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
          <span ion-text color="primary" showWhen="ios">Cancel</span>
          <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
        </button>
        <button ion-button (click)="goHome()" color="primary">
          
              Ir a Inicio
          </button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p *ngIf="errorSave" style="color: #ea6153;">{{ errorSave }}</p>
  <form [formGroup]="patientForm">
    <ion-row>
      <ion-col>
        <ion-list inset>

          <ion-item>
            <ion-label floating>Nombre</ion-label>
            <ion-input formControlName="first_name" type="text" [class.invalid]="!patientForm.controls.first_name.valid && (patientForm.controls.first_name.dirty || submitAttempt)"></ion-input>
          </ion-item>

          <p *ngIf="!patientForm.controls.first_name.valid  && (patientForm.controls.first_name.dirty || submitAttempt)" class="error">Por favor ingrese un nombre</p>


          <ion-item>
            <ion-label floating>Apellidos</ion-label>
            <ion-input formControlName="last_name" type="text" [class.invalid]="!patientForm.controls.last_name.valid && (patientForm.controls.last_name.dirty || submitAttempt)"></ion-input>

          </ion-item>

          <p *ngIf="!patientForm.controls.last_name.valid  && (patientForm.controls.last_name.dirty || submitAttempt)" class="error">Por favor ingrese los apellidos.</p>


          <ion-item>
            <ion-label floating>Fecha de Nacimiento</ion-label>
            <ion-datetime displayFormat="MMM DD, YYYY" formControlName="birth_date" [class.invalid]="!patientForm.controls.birth_date.valid && (patientForm.controls.birth_date.dirty || submitAttempt)"></ion-datetime>
          </ion-item>

          <p *ngIf="!patientForm.controls.birth_date.valid  && (patientForm.controls.birth_date.dirty || submitAttempt)" class="error">Por favor ingrese una fecha de nacimiento.</p>


          <ion-item>
            <ion-label floating>Genero</ion-label>
            <ion-select formControlName="gender" [class.invalid]="!patientForm.controls.gender.valid && (patientForm.controls.gender.dirty || submitAttempt)">
              <ion-option value="f">Femenino</ion-option>
              <ion-option value="m">Másculino</ion-option>
            </ion-select>

          </ion-item>

          <p *ngIf="!patientForm.controls.gender.valid  && (patientForm.controls.gender.dirty || submitAttempt)" class="error">Por favor ingrese un genero.</p>


          <ion-item>
            <ion-label floating>Teléfono (Celular)</ion-label>
            <ion-input formControlName="phone" type="text" [class.invalid]="!patientForm.controls.phone.valid && (patientForm.controls.phone.dirty || submitAttempt)"></ion-input>
          </ion-item>

          <p *ngIf="!patientForm.controls.phone.valid  && (patientForm.controls.phone.dirty || submitAttempt)" class="error">Por favor ingrese un teléfono.</p>



          <ion-item>
            <ion-label floating>Correo</ion-label>
            <ion-input formControlName="email" type="email" [class.invalid]="!patientForm.controls.email.valid && (patientForm.controls.email.dirty || submitAttempt)"
              email="true"></ion-input>
          </ion-item>

          <p *ngIf="!patientForm.controls.email.valid  && (patientForm.controls.email.dirty || submitAttempt)" class="error">Por favor ingrese un correo válido.</p>


          <ion-item>
            <ion-label floating>Dirección</ion-label>
            <ion-input formControlName="address" type="text" [class.invalid]="!patientForm.controls.address.valid && (patientForm.controls.address.dirty || submitAttempt)"></ion-input>
          </ion-item>

          <p *ngIf="!patientForm.controls.address.valid  && (patientForm.controls.address.dirty || submitAttempt)" class="error">Por favor ingrese una dirección.</p>


          <ion-item>
            <ion-label floating>Provincia</ion-label>
            <ion-select formControlName="province" [class.invalid]="!patientForm.controls.province.valid && (patientForm.controls.province.dirty || submitAttempt)">
              <ion-option value="Guanacaste">Guanacaste</ion-option>
              <ion-option value="San Jose">San Jose</ion-option>
              <ion-option value="Heredia">Heredia</ion-option>
              <ion-option value="Limon">Limon</ion-option>
              <ion-option value="Cartago">Cartago</ion-option>
              <ion-option value="Puntarenas">Puntarenas</ion-option>
              <ion-option value="Alajuela">Alajuela</ion-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label floating>Ciudad</ion-label>
            <ion-input formControlName="city" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>Padecimientos</ion-label>
            <ion-input formControlName="conditions" type="text"></ion-input>
          </ion-item>



        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="signup-col">
        <button ion-button class="submit-btn" full (click)="savePatient()">Guardar</button>
        
      </ion-col>
    </ion-row>

  </form>
  <div class="loading">
    <ion-spinner *ngIf="isWaiting"></ion-spinner>
  </div>

</ion-content>